<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bmi 계산기</title>
    <style>
        label {
            display: inline-block;
            width: 170px;
        }
    </style>
</head>

<body>
    <h2>당신의 BMI를 계산해 드립니다.</h2>
    <form method="post" action="mybmi">
        <label for="usrname">이름: </label>
        <input type="text" name="usrname">
        <br><br>

        <label for="gender">성별:
        <input type="radio" name="gender" value="여성" checked> 여성
        <input type="radio" name="gender" value="남성" checked> 남성
        </label>
        <br>

        <label for="height">키(cm): </label>
        <input type="text" name="height">
        <br>

        <label for="weight">몸무게(kg): </label>
        <input type="text" name="weight">
    <br>
        <input type="submit" value="전송">
        <input type="reset" value="초기화">
    </form>
</body>
</html>