<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>입력을 위한 화면</title>
</head>
<body>
  <h2>[ 값 입력 ]</h2>
  <form action="insert" method="post">
    <label for="name">이름 : </label>
    <input type="text" id="name" name="name" placeholder="이름을 입력하시오."><br><br>

    <label for="age">나이 : </label>
    <input type="text" id="age" name="age" placeholder="나이를 입력하시오."><br><br>

    <label for="phone">전화번호 : </label>
    <input type="text" id="phone" name="phone" placeholder="전화번호를 입력하시오."><br><br>

    <label>성향 :
    <input type="radio" name="active" value="외향적" checked>외향적&nbsp;
    <input type="radio" name="active" value="내성적">내성적
    </label> <br><br>

    <input type="submit" value="전송">
    <input type="reset" value="초기화">
  </form>
</body>
</html>