<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymelef.org/extras/spring-security" >

<head>
<meta charset="UTF-8">
<title>게시판 홈페이지</title>
</head>
<body>
	<h2>[ 회원전용 게시판 ]</h2>
	<ul>
		<li sec:authorize="not isAuthenticated()"><a href="#" th:href="@{/member/join}">회원가입</a></li>
		<li sec:authorize="not isAuthenticated()"><a href="#" th:href="@{/member/loginForm}">로그인</a></li>
		<li sec:authorize="isAuthenticated()">[[${#authentication.name}]]님, <a th:href="@{/logout}">로그아웃</a></li>
		<li sec:authorize="isAuthenticated()"><a th:href="@{/member/mypage}">개인정보 수정</a></li>
		<li><a href="#" th:href="@{/board/boardlist}">게시판</a></li> <!-- 게시글 요청  -->
		<li><a href="#" th:href="@{/predict}">머신러닝-붓꽃 판별</a></li> <!-- 게시글 요청  -->
	</ul>
</body>
</html>



