<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
  <h2>[ 다양한 요청 처리 ]</h2>
<div>
    <ol>
        <li>서버와 데이터 주고받기
        <ul>
            <li><a href="param/input1?name=James&age=28">GET 방식으로 param 전달 - a 태그</a></li>
            <li><a href="param/input1">GET 방식으로 요청 - 전달되는 값이 없을 때</a></li>
            <li><a href="param/view1">GET 방식으로 요청(Form 화면 요청)</a></li>
        </ul>
        </li>

        <li>쿠키 사용
            <ul>
                <li><a href="cookie/cookieSave">쿠키 저장</a></li>
                <li><a href="cookie/cookieDelete">쿠키 삭제</a></li>
                <li><a href="cookie/cookieRead">쿠키 읽기</a></li>
            </ul>
        </li>

        <li>Thymeleaf 사용(Spring의 공식 템플릿 엔진)
            <ul>
                <li><a href="thymeleaf/thyme1">타임리프 문법 1 - 값 출력, 연산자...</a> </li>
            </ul>
        </li>
    </ol>
</div>
</body>
</html>